:root {
  --color_verde1: rgba(76, 194, 178, 1);
  --color_verde2: rgba(76, 194, 178, .5);
  --font-size: 18px;
}

body {
  background-color: rgba(0, 7, 32, .98);
  color: #ffffff;
  /* Texto blanco */
  padding-top: 0px;
  /* Ajusta el espacio para el navbar si lo usas */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif !important;
  font-size: 24px !important;
  background: linear-gradient(65deg, rgba(0, 5, 17, 1)0%, rgba(0, 4, 13, 0.95)33%, rgba(29, 1, 33, 0.9)100%), url(https://alexanderosses.cl/img/background-brain.webp);
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-attachment: scroll, scroll;
  background-size: auto, auto;
  background-size: cover;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem !important;
  font-weight: 100;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dashed rgba(77, 194, 178, .2);
  color: rgba(255, 255, 255, .5);
}

h2 {
  font-size: 3rem !important;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dashed rgba(77, 194, 178, .2);
  font-weight: 100;
  color: rgba(255, 255, 255, .5);
  line-height: 2.8rem;
}

h3 {
  font-size: 2rem !important;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dashed rgba(77, 194, 178, .2);
}

h4 {
  font-size: 1.5rem !important;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.text-bold {
  font-weight: 900 !important;
  color: rgba(255, 255, 255, .9);
}

.bold {
  font-weight: 900;
  color: rgba(255, 255, 255, .8);
}

.bold2 {
  font-weight: 900;
  color: rgba(255, 255, 255, .5);
}

.text-resal {
  font-size: 1.1rem;
}

.text-p {
  font-size: 1rem;
  font-weight: lighter;
  color: rgba(255, 255, 255, .5);
}

.txt-white-1 {
  color: rgba(255, 255, 255, .5);
  font-weight: lighter;
}

.credly {
  width: 80px !important;
  height: 80px;
}

.panel-0 {
  opacity: 1;
}

.btn-img {
  display: block;
  width: 80px;
  height: 80px;
}

.btn-own {
  display: block;
  background-color: rgba(76, 194, 178, .2);
  color: var(--color_verde1);
  border-radius: 20px;
  text-align: center;
  font-size: 1rem;
  padding: 8px 16px !important;
  text-decoration: none;
  width: 150px;
  margin: 0 0 16px 0;
}

.btn-own:hover {
  display: block;
  background-color: var(--color_verde1);
  color: rgb(13, 51, 46);
  border-radius: 20px;
  text-align: center;
  font-size: 1rem;
  padding: 8px 16px !important;
  text-decoration: none;
  width: 150px;
  margin: 0 0 16px 0;
}

.panel-1,
.panel-2 {
  opacity: .4;
  transition: 0.3s ease-in-out;
}

.panel-1:hover,
.panel-2:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
  scale: 1.1;
  margin: 0 5rem 0 5rem;
  background-color: rgba(221, 226, 238, .08);
  -webkit-backdrop-filter: blur(16px) !important;
  backdrop-filter: blur(16px) !important;
  border: 1px solid rgba(221, 226, 238, 0);
  border-radius: 8px;
}

.img-fluid {
  border-radius: 8px 0 0 8px !important;
}

/* ICON SCROLL */
.arrow-buttons-container {
  display: flex;
  /*justify-content: space-between;*/
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 100%;
}

.arrow-button {
  font-size: 32px;
  padding: 16px;
  border-radius: 32px;
  display: flex;
  background-color: rgba(0, 0, 0, .1);
  border: none;
  cursor: pointer;
}

.arrow-button.left {
  margin-right: auto;
}

.arrow-button.right {
  margin-left: auto;
}


#arrowL .icon-d,
#arrowR .icon-d {
  fill: rgba(255, 255, 255, .05);
}

.arrowGo {
  fill: var(--color_verde2);

}

.icon-rrss,
.arrowGo:hover,
#arrowL:hover .icon-d,
#arrowR:hover .icon-d {
  fill: var(--color_verde1);
  color: var(--color_verde1);
  list-style: none !important;
}


/* SCROLL */
#scroll-wrapper {
  overflow: hidden !important;
}

#scroll-container {
  white-space: wrap;
  scroll-behavior: smooth !important;
}

.invisible-area {
  position: absolute;
  top: 0;
  height: 100% !important;
  width: 100px;
  z-index: 1;
  opacity: 0;
}

.left-invisible-area {
  left: 0;
}

.right-invisible-area {
  right: 0;
}

/* FIN SCROLL */
.p-6 {
  padding: 6rem;
}


.container-fluid {
  margin: 0px !important;
  padding: 0px !important
}




.bg-1 {
  background: linear-gradient(138deg, rgba(0, 3, 13, 0.8) 0%, rgba(56, 20, 91, 0.5) 100%), url(./assets/02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-0 {
  flex: 0 0 75%;
  /* Ancho del 50% en formato horizontal */
  box-sizing: border-box;
  margin: 10px;
  border-radius: 8px;
  justify-content: center;
  align-self: center;
  height: auto !important;

}

.panel-1,
.panel-2 {
  flex: 0 0 50%;
  /* Ancho del 50% en formato horizontal */
  box-sizing: border-box;
  margin: 2rem;
  justify-content: center;
  align-self: center;
  height: auto !important;
  width: 100%;
  background-color: rgba(221, 226, 238, .08);
  -webkit-backdrop-filter: blur(16px) !important;
  backdrop-filter: blur(16px) !important;
  border: 1px solid rgba(221, 226, 238, .1);
  border-radius: 8px;
}

.contact-panel {
  flex: 0 0 25%;
  /* Ancho del 50% en formato horizontal */
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  background-color: rgba(221, 226, 238, .08);
  -webkit-backdrop-filter: blur(16px) !important;
  backdrop-filter: blur(16px) !important;
  border: 1px solid rgba(221, 226, 238, .1);
  border-radius: 8px;
}


.sliding-panels {
  display: flex;
  overflow-x: hidden;
  /* Oculta el desplazamiento horizontal */
  padding: 20px;

}

.ml-13 {
  margin-left: 20% !important;
}

.mr-13 {
  margin-right: 20% !important;
}

.pc-4 {
  margin: 4rem;
}

.iconProg {
  fill: rgba(255, 255, 255, .5) !important;
  width: 24px;
  height: 24px;
  color: rgba(255, 255, 255, .5) !important;
  font-size: .7rem;
}

.scrollContainer {
  overflow: scroll
}

.logoIco1 {
  width: 40px;
  height: 40px;
}

.logoIco1a {
  opacity: 0;
  position: absolute;
  top: -110px;
  /* Ajusta según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background: rgb(0, 7, 32);
  background: -moz-radial-gradient(circle, rgba(0, 7, 32, 0.6653127803855917) 0%, rgba(0, 7, 32, 0) 80%);
  background: -webkit-radial-gradient(circle, rgba(0, 7, 32, 0.6653127803855917) 0%, rgba(0, 7, 32, 0) 80%);
  background: radial-gradient(circle, rgba(0, 7, 32, 0.6653127803855917) 0%, rgba(0, 7, 32, 0) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000720", endColorstr="#000720", GradientType=1);
}

.menu {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.3s ease-in-out;
}

footer {
  bottom: 0px;
  position: relative;
  width: 100%;
}

.icon-footer {
  fill: rgba(255, 255, 255, .25);
  width: 16px;
}

a {
  text-decoration: none;
}

a .footerDestacado {
  color: var(--color_verde1);
  font-size: .65rem;
  font-weight: 100;
  text-decoration: none !important;
}

.footertext {
  font-size: .8rem !important;
  text-align: center;
  font-weight: 100;
  color: rgba(255, 255, 255, .5);
}

.logoIco2 {
  width: 10rem;
  height: 10rem;
}

ul {
  display: flex;
  list-style: none;
}



li a {
  font-size: .8rem;
  color: var(--color_verde1);
  font-weight: 300;
  text-decoration: none;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 16px;
  margin: 0 .5rem;
  font-weight: 900;
}

li:hover a {
  background-color: var(--color_verde2);
  border-radius: 20px;
  color: black;
  font-weight: 900;
}

@media (max-width: 768px) {
  body {
    color: #ffffff;
    padding-top: 0px;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif !important;
    font-size: 24px !important;
    background: linear-gradient(65deg, rgba(0, 5, 17, 1)0%, rgba(0, 4, 13, 0.95)33%, rgba(29, 1, 33, 0.9)100%), url(https://alexanderosses.cl/img/background-brain.webp);
    background-position: center center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    height: 100% !important;
  }

  #menu {
    display: none;
  }

  .sliding-panels {
    flex-direction: column;
  }

  footer{
    padding: 1rem 2rem !important;
  }
.hide{
  display: none;
}
  .ml-13 {
    margin-left: 0% !important;
  }

  .mr-13 {
    margin-right: 0% !important;
  }

  .panel {
    flex: 0 0 auto;
    height: auto;
  }

  .panel-0 {
    flex: 0 0 0 !important;
    box-sizing: border-box !important;
    margin: 2rem !important;
    justify-content: center !important;
    align-self: center;
    height: auto !important;
    width: 100%;
  }
  
  .contact-panel,
  .panel-1,
  .panel-2 {
    flex: 0 0 0;
    box-sizing: border-box;
    margin: 1rem 0;
    justify-content: center;
    align-self: center;
    height: auto !important;
    width: 100%;
    background-color: rgba(221, 226, 238, .08)!important;
    border: 1px solid rgba(221, 226, 238, .1) !important;
    border-radius: 8px !important;
  }

  .contact-panel:hover,
  .panel-1:hover,
  .panel-2:hover {
    scale: 1 !important;
    margin: 1rem 0;
  }


  .flex-row {
    flex-direction: column !important;
  }

  .arrow-button.left,
  .arrow-button.right {
    display: none !important;
  }

  .fixed-bottom {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
  }
}